@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.bfContainer {
  padding: 5px 20px;
  height: 220px;
  background: #231f20;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  color: #00b5de;
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
}

.container {
  margin: 0 auto;
}

.flip-clock-wrapper {
  display: inline-block;
  width: auto !important;
}

.flip-clock-label {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}