@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
}

.bfContainer {
  padding: 5px 20px;
  height: 200px;
  /* Adds black overlay over image */
  background:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("snowflakeBg.jpg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  color: #00b5de;
  font-weight: 300;
  font-size: 32px;
  margin: 10px 0;
  text-transform: uppercase;
}

h1 span {
  color: white;
}

.container {
  margin: 0 auto;
}

.flip-clock-wrapper {
  display: inline-block;
  width: auto !important;
  transform: scale(0.8);
}

.flip-clock-label {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  transform: scale(1.5);
}